<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.java_app.game_community.mapper.replyMapper">
	
	<select id="replyList" parameterType="int" resultType="com.java_app.game_community.vo.replyVO">
		select *
		from reply
		where boardId = #{boardId}
	</select>
	
	<insert id="insertReply" parameterType="com.java_app.game_community.vo.replyVO">
		insert into reply(replyId, boardId, replycontent)
		values(rId.nextval, #{boardId}, #{replycontent})
	</insert>
</mapper>

